<!--create item form-->
<div class="item-create">
  <h2>Create new Todo item</h2>
  <form [formGroup]="itemForm" (ngSubmit)="createItem()">
    <section><input type="text" id="title" placeholder="title" class="formFields" required formControlName="title"/></section>

    <section><textarea type="text" id="content" placeholder="content" class="formFields" required formControlName="content"></textarea><br/>
    </section>
    <button type="submit" [disabled]="itemForm.invalid">Create</button>
  </form>
</div>
